
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap');

/* -----Global -----*/

body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font: 1rem;
}

header{
    display: flex;
    justify-content: space-around;
    background-color : rgb(202, 202, 202);
}

span{
    color : teal ;
}

h1{
    font-family: 'Andada Pro', serif;
    text-decoration: underline teal 10px ;
    text-underline-position: under;
    text-align: center;
}

.logo_header{
    width: 30%;
}

.logo_panier{
    padding-top: 4%;
    width: 2rem;
    height: 2rem;
}

input[type="search"]{
    box-shadow: 1px 1px 10px black;
}

/* ----- Barre de Recherche -----*/
.container{
    display: flex;
    justify-content: center;
    margin: 1%;
    flex-direction: column;

}

.input{
    height: 2rem;
    width:100%;
    border-radius: 35px;
    border: solid red;
}

.suggestion{
    font-size: 22px;

}

.suggestion:hover{
    background-color: chocolate;
}

/* ----- Box -----*/


.stars_box{
    display: flex;
}

input[type="button"]{
    background-color: rgb(7, 211, 247);
    border-radius : 5px ;
    color : white ;
    text-align:center;
    font-size: 1rem;
    width: 100%;
    padding: 0% 1% 0% 1%;
}

input[type="button"]:hover{
    background-color: rgb(10, 119, 138);
}
button{
height: 50px;
}

#basket{
    display: none ;
    background-color: white ;
    border : 1px solid black ;
    border-radius: 5px ;
    padding : 15px ;
    position : absolute ;
    right : 12.5% ;
    top : 75px ;
}

.valid{
    padding : 5px ;
}

.button_basket:hover ~ #basket{
    display:block;
}

.box{

    font-size: 1rem;
}

.title_box{
    font-weight : bold ;
}

.cours{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10%;
    flex-wrap: wrap;
}

.box{
    border: 1px black solid; 
    box-shadow: 2px 2px 10px black;
    padding: 3% 3%;
    height: 100%;
    margin: 1%;
    width: 15%;
    border-radius: 30px;
}

.price_origin{
    text-decoration: line-through;
    color:red;
}

.price{
    font-size: 1.5rem;
}

.logo_lang{
 max-width: 50%;
 margin-left:25%;
}

.nodeimg{
    min-height: 10%;
    padding-bottom: 9%;
}

.prices{
    display:flex;
    justify-content: space-between;
}

/* ----- Footer ----- */

footer{
    display : block;
    align-content : center ;
    padding : 1rem ;
    margin-top : 5rem ;
}

/* ----- Media Queries ----- */

@media(max-width : 1000px){

input[type = button]{
    font-size : 0.5rem ;
}

}

@media(max-width : 800px){

    .search_bar{
        height: 2rem;
        width: 80%;
    }

    .cours{
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-around;
    }

    h1{
        visibility: hidden;
    }

    .box{
        width:70%;
    }

    footer{
        width: 80%;
        font-size: 0.8rem;
    }

    body{
        font-size: 0.01rem;
    }
    input[type = button]{
        font-size : 0.6rem ;
    }
}

